node_modules
.env
.env.*
!.env.example
.wwebjs_auth
.wwebjs_cache
.git
.gitignore
*.log
__pycache__
*.pyc
.vscode
.idea
Thumbs.db
.DS_Store
whatsapp-bot-saas-1
whatsapp-bot-saas
.railway_deployments.json
start_bot.bat
start_bot_silent.vbs
stop_bot.bat
